!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title WordleLookup
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'
    = javascript_importmap_tags
  %body
    .container
      = yield

    .columns
      .column
        .footer.has-text-right
          %a{ href: 'https://github.com/hana-da/wordle_dictionary/tree/main/wordle_lookup' } Wordle Lookup
          &copy 2022
